app/__pycache__/
/app/db/__pycache__
/app/core/__pycache__
/app/models/__pycache__
/app/api/v1/endpoints/__pycache__
/app/api/v1/__pycache__
/app/api/__pycache__
/app/services/__pycache__
.env
/app/schemas/__pycache__
/app/services/ai_engine/__pycache__
/app/workers/__pycache__
